.navbar {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 10px 20px !important;
}

.nav-left button {
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.addr-cntnr h6 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
}

.nav-left button.address {
    max-width: 300px;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-align: start;
}


.brnd {
    font-size: 34px;
    font-weight: 900;
    line-height: 36px;
}

.brnd-ylow {
    color: #F8CB46;
}

.brnd-grn {
    color: #54B226;
}

button {
    border: none;
    background: none;
}