.crd-cntnr {
    display: flex;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.crd-cntnr.crd-colmn {
    flex-direction: column;
    border: 1px solid #eee;
    gap: 0;
}

.crd-img {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 2px;
}

.crd-colmn .crd-img {
    border: none;
}

.crd-img.rndImg {
    border-radius: 50%;
    padding: 0;
}

.crd-img img {
    height: 100%;
    display: block;
    object-fit: cover;
}

.crd-colmn .crd-img img {
    margin: auto;
}

.crd-img.rndImg img {
    border-radius: 50%;
}

.crd-dtl {
    padding-right: 15px;
}

.crd-colmn .crd-dtl {
    padding-right: 0;
}

.crd-dtl>div {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(28, 28, 28);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardMdl {
    padding: 4px 0px;
    color: rgb(105, 105, 105);
}

.crd-colmn .cardMdl {
    margin-top: 15px;
    margin-bottom: 30px;
}

.cardBtm {
    color: rgb(31, 31, 31);
}

.crd-dtl div.cardTop,
.crd-dtl div.cardBtm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCartBtn,
.chngAddr {
    position: absolute;
    right: 10px;
}

.addCartBtn {
    bottom: 0px;
}

.chngAddr {
    top: 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(12, 131, 31);
}

.crd-dtl div.specialClass {
    font-weight: 700;
    font-size: 14px;
}

.crd-actn {
    display: flex !important;
    gap: 10px;
    align-items: center;
}

.crd-actn a {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(214, 214, 214, 0.9);
    color: rgb(12, 131, 31);
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5px;
    cursor: pointer;
}