.pay-crd-btm {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.dummyHomeImg {
    background-image: url("../public/images/home.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width:992px) {
    .pay-crd-btm {
        display: block;
    }
}